.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 6s linear; */
  height: 40vmin;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.App-logo:hover{
  transform:rotate(45deg);
 -ms-transform:rotate(45deg);
 -webkit-transform:rotate(45deg);
}

.App-header {
  background-color: white;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
