.third {
  margin: 2%;
  padding: 1%;
  /* border: solid lightpink; */
  border-radius: 2px;
  background:  #A9BA9D;
  min-height: 500px;
  min-width: 25%
}

.third-f {
  margin: 2%;
  padding: 1%;
  /* border: solid lightpink; */
  border-radius: 2px;
  background: #9AC0CD;
  min-height: 500px;
  min-width: 25%
}
.third-c {
  margin: 2%;
  padding: 1%;
  /* border: solid lightpink; */
  border-radius: 2px;
  background: #FFB2B2;
  min-height: 500px;
  min-width: 25%
}


.short-column {
  margin: 2%;
  padding: 1%;
  /* border: solid darkgrey; */
  border-radius: 1px;
  min-height: 130px;
  min-width: 40%;
  font-size: 15pt;
  font-weight: 300;
}

.short-column:hover {
  transform: scale(1.1);
}

.taskList {
  margin: 2%;
  padding: 1%;
  outline: darkgrey solid;
  background: white;
  min-height: 30px;
  font-size: 20pt;
  font-weight: 300;
}

.container {
  background-color: pink;
  min-height: 500px;
}

.movingTaskList {
  margin: 2%;
  padding: 1%;
  outline: orange solid;
  background: green
}

.task {
  margin: 2%;
  padding: 1%;
  border: solid yellow;
  margin-bottom: 2%;
  border-radius: 2px;
}

.taskList:hover {
  transform: scale(1.2);
}

.title {
  padding: 8px;
  font-size: 40pt;
  font-weight: 300;
  text-align: center;
}

.title:hover {
  transform: scale(1.5);
}

.label {
  padding: 8px;
  font-size: 20pt;
  font-weight: 400;
}

.label:hover {
  transform: scale(1.2);
}

.answer{
  text-align: center;
  font-size: 50pt;
  font-weight: 300;
}

.answer:hover {
  background-color: lightpink;
  transform: scale(5);
}

.button {
  border: solid lightgrey;
  padding: 5px;
  font-size: 1em;
  font-weight: 100;
  transition: 0.3s
}

.dec-btn {
  border: solid lightgrey;
  padding: 5px;
  font-size: 1em;
  font-weight: 100;
  transition: 0.3s
}

.xbutton {
  border: solid lightgrey;
  padding: 5px;
  font-size: 1em;
  font-weight: 100;
  transition: 0.3s;
  background: darkgrey;
  color:red
}
.q-container {
  border: solid lightgrey;
  padding: 5px;
  font-size: 1em;
  font-weight: 100;
  transition: 0.3s;
  color:red
}
